{% extends 'base.html.twig' %}

{% block title %}Hello TodoController!
{% endblock %}

{% block body %}
	<div class="text-end p-2">
		<span>
			{{ app.user.email }}
		</span>
		<a class="text-danger" href="{{ path('app_logout')}}">
			<i class="fa fa-sign-out" aria-hidden="true"></i>
			Выйти
		</a>
	</div>

	<section class="vh-100 gradient-custom">
		<div class="container py-5 h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col col-xl-10">

					<div class="card">
						<div class="card-body p-5">

							<div class="d-flex justify-content-center align-items-center mb-4">
								<div class="form-outline flex-fill">
									<input type="text" class="form-control" id="planeJobName" placeholder="Новая задача"/>

								</div>
								<button id="btn-create-job" class="btn btn-info ms-2 text-white">Добавить</button>
							</div>
							<nav>
								<div class="nav nav-tabs" id="nav-tab" role="tablist">
									<button class="nav-link active" id="nav-all-job-tab" data-bs-toggle="tab" data-bs-target="#nav-all-job" type="button" role="tab" aria-controls="nav-all-job" aria-selected="true">Все</button>
									<button class="nav-link" id="nav-activ-job-tab" data-bs-toggle="tab" data-bs-target="#nav-activ-job" type="button" role="tab" aria-controls="nav-activ-job" aria-selected="false">Активные</button>
									<button class="nav-link" id="nav-done-job-tab" data-bs-toggle="tab" data-bs-target="#nav-done-job" type="button" role="tab" aria-controls="nav-done-job" aria-selected="false">Завершеные</button>
								</div>
							</nav>
							<div class="tab-content" id="nav-tabContent">
								<div class="tab-pane fade show active" id="nav-all-job" role="tabpanel" aria-labelledby="nav-all-job-tab">
									<ul class="list-group mb-0 job-container" id="job-container">
										{% for job in jobs %}
											{% include 'todo/job.html.twig' %}
										{% endfor %}
									</ul>
								</div>
								<div class="tab-pane fade" id="nav-activ-job" role="tabpanel" aria-labelledby="nav-activ-job-tab">
									<ul class="list-group mb-0 job-container"></ul>
								</div>
								<div class="tab-pane fade" id="nav-done-job" role="tabpanel" aria-labelledby="nav-done-job-tab">
									<ul class="list-group mb-0 job-container"></ul>
								</div>
							</div>
						</nav>
					</div>
				</div>
			</div>

		</div>
	</div>
</div></section>{% endblock %}
